<div class="card card-body col-sm-6 mx-auto">
    <h3 class="mb-3 text-center">Add Idea</h3>
    <form action="/ideas" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title"/>
    </div>
     <div class="form-group">
        <label for="details">Details</label>
        <textarea class="form-control" name="details" rows="10"></textarea>
    </div>
    <button class="btn btn-primary btn-md" type="submit">Submit</button>
    </form>
</div>