<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h2 class="text-center">Account Login</h2>
            <form method="POST" action="/users/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" required />
                </div>
                 <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" required />
                </div>
                <button class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>